.list-item {
    
    border-radius: 3px;
    max-width: 100%;
    padding: 1.5rem 15px;
    margin: 1rem;
    text-align:center;
    font-size: 24px;
    box-shadow: 5px 8px 12px #888888;
}

.recipe-grid {
    display: grid;
    max-width: 1200px;
    grid-template-columns: 1fr;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    @media screen and (min-width: 800px){
        grid-template-columns: 1fr 1fr;
    }
    
    margin: 0 auto;
    & a {
        text-decoration: none;
        color: #356859;
        outline: none;        
    }
    & img {
        display: block;
        max-height: 25vh;
        width: 75%;
        height: auto;
        margin: 0 auto;
    }

}