@import url("https://fonts.googleapis.com/css2?family=Lekton:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&display=swap");

* {
  box-sizing: border-box;
}
.App {
  text-align: center;
  background-color: #FFFBE6;
  min-height: 100vh;
  color: #356859;
  font-family: 'Montserrat', sans-serif;
}
nav {
  padding: 1rem 0;
  width: 100%;
 
}
nav > h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 96px;
  margin-top: 0;
  margin-bottom: 24px;
}
nav > ul {
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 0;
}

nav li {
  display: inline-block;
  margin: 0 25px;
  
}
nav a {
  text-decoration: none;
  color: #356859;
  font-size: 20px;
  padding-bottom: .5rem;
}

.active {
  border-bottom: 4px solid #356859;
  outline: none;
}