@import url("https://fonts.googleapis.com/css2?family=Lekton:ital,wght@0,400;0,700;1,400&display=swap");

* {
  box-sizing: border-box;
}
.App {
  text-align: center;
  background-color: #FFFBE6;
  min-height: 100vh;
  color: #356859
}

nav > ul {
  margin-top: 0;
}
